<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
</head>
<body>
    <div style="text-align: center;">
    <h1 style="text-align: center;">HDH Project</h1>
    	<h2><a href="/logout.do">LOGOUT</a></h2>
    	<th:block th:if="${session.roll == '1'}"><span>당신의 권한은 [영업]</span></th:block>
    	<th:block th:if="${session.roll == '2'}"><span>당신의 권한은 [기업]</span></th:block>
    	<th:block th:if="${session.roll == '3'}">
	    	<span>당신의 권한은 [관리자]</span><br>
	    	<a href="/admin">관리자 페이지</a>
    	</th:block>
    	<br>
    	<span>당신의 ID는 [</span><span th:text="${session.id}"></span><span>]</span><br>
    	<button type="button" onclick="location.href='/finance'">재무재표 입력하기</button><br>
    	<button type="button" onclick="location.href='/insert'">회사정보 입력하기</button>
    </div>
	<div>
		<hr>
		<span th:text="${session.id}"></span><span> 님의 기업진단-출력사항 확인하기 (TODO 연도별 필요)</span><br>
		<th:block th:each="list : ${List}">
			<a th:href="@{/output( businessLicenseNumber=${list.businessLicenseNumber} )}" ><span th:text="${list.companyName}"></span></a><br>
		</th:block>
	</div>
    <script type="text/javascript">
    </script>
</body>
</html>